name: Lint
permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run markdownlint-cli2 with config
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          config: '.markdownlint-cli2.jsonc'
          globs: '**/*.md'
